<link rel="stylesheet" href="../css/game.css" type="text/css" />

<div>
    <div id="game_title" class="game-content">
        {{name}}
    </div>
    <div id="game-info">
        <img id="poster" src="{{cover}}" alt="{{name}}">
        <div id="info">
            <p id="box_title" class="game-content">
                <b>{{this.name}}</b>
            </p>
            <p id="box_rating" class="game-content">
                <b>Score: </b> {{rating}}</p>
            <p id="box_date" class="game-content">
                <b>Release Date: </b> {{release_dates}}</p>
            <p id="box_summary" class="game-content">
                <b>Summary: </b> {{summary}}</p>

        </div>
    </div>

</div>