{{!-- <link rel="stylesheet" href="game.css" type="text/css" />

<div>
    <div id="game_title" class="game-content">
        {{Title}}
    </div>
    <div id="game-info">
        <img id="poster" src="game_test.jpg" alt="Nier_Automata">
        <div id="info">
            <p id="box_title" class="game-content"><b>{{Title}}</b></p>
            <p id="box_rating" class="game-content"><b>Score: </b> {{Score}}%</p>
            <p id="box_date" class="game-content"><b>Release Date: </b> {{Date}}</p>
            <p id="box_category" class="game-content"><b>Category: </b> {{Category}}</p>
            <p id="bos_summary" class="game-content"><b>Summary: </b> {{Summary}}</p>
        </div>
    </div>

</div> --}}

<link rel="stylesheet" href="game.css" type="text/css" />

<div id="gamePage">
<div id="nav-sum">
    <a class="top-link" href="#">Home</a><i class="fas fa-angle-right"></i><a class="top-link" href="#">Category</a><i class="fas fa-angle-right"></i> Game Name
</div>
<div id="game-container">
    <div class="poster-content">
        <img id="game-poster" src="game_test.jpg" alt="Game">
        <p class="no-pads"><b>Release Date :</b> 00 / 00 / 0000</p>
        <p id="game-score" class="no-pads"><strong>Score :</strong> 00.00 %</p>
    </div>
    <div class="game-content">
        <p id="game-title" class="no-pads"><strong>Title : Injustice 2</strong></p>
        <p class="no-pads"><b>Summary :</b></p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta temporibus voluptatem, incidunt accusamus magnam nisi dolorum quaerat delectus esse cupiditate hic pariatur itaque tempore at, officiis similique veniam explicabo? Sapiente blanditiis perferendis repellendus quae adipisci sed minima, veniam, assumenda, vel officia expedita? Minima repellendus a autem neque, aspernatur tempore libero ducimus distinctio, nobis vitae, doloribus fuga magnam consequuntur. Explicabo amet officiis reprehenderit sit nesciunt nam! Omnis, deleniti nemo sit ipsa, quaerat amet quas inventore earum laborum asperiores maiores fugiat voluptatibus. Minus officiis laborum rem in dolores et, nihil quos asperiores illum distinctio beatae aspernatur nam, ad itaque magni delectus minima ipsam veniam aperiam, dolorum repudiandae sit. Eligendi vero cum, at maxime consequatur natus soluta odit fugiat doloribus veritatis praesentium magnam ea voluptatibus, alias beatae facilis unde! Tenetur commodi esse illo cumque dolor maiores omnis, iusto vitae aliquam distinctio eos quae sapiente at voluptate ipsa vel doloribus dolores explicabo libero? Illum explicabo, beatae sunt quas placeat id, cum provident! Delectus tempora eaque natus iusto repudiandae neque aut exercitationem voluptatem. Architecto natus asperiores accusantium a, saepe beatae, harum est ullam minima rerum, necessitatibus obcaecati odio dicta, commodi ut culpa recusandae eius! Cumque vel error culpa. Laudantium blanditiis sunt, magni velit hic quas alias dolorum deleniti odit quos aperiam perferendis facere a, aspernatur delectus corporis voluptatem perspiciatis numquam, culpa quidem praesentium maxime quae. Animi, eos nesciunt. Et perferendis officiis quo quasi, sunt nesciunt labore tenetur, esse velit voluptate veniam laudantium earum quibusdam ullam, atque, consectetur quisquam. Dolores ratione fugit, doloribus molestias modi unde commodi sint iusto, delectus dolore alias suscipit doloremque nesciunt ad eos rerum hic ut illo! Doloribus quas aspernatur eligendi nisi ex voluptatum saepe illum ipsa alias voluptate minus earum aliquam pariatur, magnam quasi! Impedit numquam qui tenetur nobis quo deleniti, neque odio! Blanditiis architecto labore velit adipisci odio cum sequi, explicabo omnis non placeat aut delectus excepturi tempora dolorem nesciunt nemo!</p>
    </div>
</div>
</div>
</div>