{{!-- <link rel="stylesheet" href="game.css" type="text/css" />

<div>
    <div id="game_title" class="game-content">
        {{Title}}
    </div>
    <div id="game-info">
        <img id="poster" src="game_test.jpg" alt="Nier_Automata">
        <div id="info">
            <p id="box_title" class="game-content"><b>{{Title}}</b></p>
            <p id="box_rating" class="game-content"><b>Score: </b> {{Score}}%</p>
            <p id="box_date" class="game-content"><b>Release Date: </b> {{Date}}</p>
            <p id="box_category" class="game-content"><b>Category: </b> {{Category}}</p>
            <p id="bos_summary" class="game-content"><b>Summary: </b> {{Summary}}</p>
        </div>
    </div>

</div> --}}

<link rel="stylesheet" href="game.css" type="text/css" />

<div id="gamePage">
<div id="nav-sum">
    <a class="top-link" href="#">Home</a><i class="fas fa-angle-right"></i><a class="top-link" href="#">Category</a><i class="fas fa-angle-right"></i> {{Name}}
</div>
<div id="game-container">
    <div class="poster-content">
        <img id="game-poster" src="game_test.jpg" alt="Game">
        <p class="no-pads"><b>Release Date :</b> {{Data}}</p>
        <p id="game-score" class="no-pads"><strong>Score :</strong> {{Score}} %</p>
    </div>
    <div class="game-content">
        <p id="game-title" class="no-pads"><strong>{{Title}}</strong></p>
        <p class="no-pads"><b>Summary :{{Summary}}</b></p><p></p>
    </div>
</div>
</div>
</div>