<link rel="stylesheet" href="game.css" type="text/css" />

<div>
    <div id="game_title" class="game-content">
        {{Title}}
    </div>
    <div id="game-info">
        <img id="poster" src="game_test.jpg" alt="Nier_Automata">
        <div id="info">
            <p id="box_title" class="game-content"><b>{{Title}}</b></p>
            <p id="box_rating" class="game-content"><b>Score: </b> {{Score}}%</p>
            <p id="box_date" class="game-content"><b>Release Date: </b> {{Date}}</p>
            <p id="box_category" class="game-content"><b>Category: </b> {{Category}}</p>
            <p id="bos_summary" class="game-content"><b>Summary: </b> {{Summary}}</p>
        </div>
    </div>

</div>